{% extends "global/Page.html" %}

{% block title %}
    Risk Preferences: Self-Assessment
{% endblock %}

{% block content %}

    <p>Are you generally a person who is fully prepared to take risks or do you try to avoid taking risks?</p>
    <form method="post">
        <label for="risk_self_assessment">
            <b>Please drag the slider-</b>
            Rate yourself from 0 to 10, where 0 means "unwilling to take any risks" and 10 means "fully prepared to take risks":
        </label><br><br>
        <input type="range" id="risk_self_assessment" name="risk_self_assessment" min="0" max="10" value="0" step="1"
               oninput="sliderValue.innerText = this.value" required style="width: 100%; max-width: 600px;">
        <span id="sliderValue">5</span>
        <br><br>
        <div style="display: flex; justify-content: space-between; width: 100%; max-width: 600px;">
            <span>0</span>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span>10</span>
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}